:root {
  --header-height: 3em;
}

/* header */
header {
  z-index: 10;
  background-color: orangered;
  /* background-color: rgba(100, 100, 100, 0.5); */
  color: white;
  height: var(--header-height);
  vertical-align: middle;
  position: sticky;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1px 10px lightgray;
  padding: var(--space-s);
}

header .max-heigh {
  height: calc(var(--header-height) - 1em);
}

header li {
  display: inline;
  padding-right: var(--space-s);
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: currentColor;
}

/* footer */
footer {
  background-color: black;
  color: white;
  padding: var(--space-s);
  vertical-align: middle ;
  padding: 20px 0px;
}

footer li {
  display: inline;
  margin: 0px;
  padding-right: var(--space-s);
  list-style-type: none;
  font-size: x-small;
}

footer a {
  text-decoration: none;
  color: currentColor;
}

foot-icon {
  align
}

img {
  width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* main */

.card {
  position: relative;
  max-width: 30%;
  margin: 30px 0px;
}
.card-img {
  position: relative;
}

.hidden {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.card:hover .hidden {
  display: inline-block;
}
.prize {
  color: red;
  display: inline;
}
.disconunted {
  display: inline;
  text-decoration: line-through;
}

.heart {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 0px;
  background-color: white;
  color: black;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
}
.heart::after {
  content: "	\2764";
}
.heart:hover.heart {
  color: red;
}

.item-feature {
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 5%;
  color: white;
}
.item-discount {
  display: inline-block;

  padding: 0 3px;
  line-height: 1em;
  text-align: center;
  background-color: red;
}
.item-caratteristics {
  display: inline-block;

  padding: 0 3px;
  line-height: 1em;
  text-align: center;
  background-color: green;
}

/* flex */
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.fl-space-between {
  justify-content: space-between;
}
.fl-justify-center {
  justify-content: center;
}
.fl-align-center {
  align-items: center;
}
