header {
  background-color: orangered;
  /* background-color: rgba(100, 100, 100, 0.5); */
  color: white;
  height: 3em;
  position: sticky;
  top: 0px;
  left: 0px;
}
img {
  width: 100%;
}

header li {
  display: inline;
  padding: var(--space-s);
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: currentColor;
}

main {
}

/* flex */
.flex {
  display: flex;
}
.fl-space-between {
  justify-content: space-between;
}
.fl-justify-center {
  justify-content: center;
}
.fl-align-center {
  align-items: center;
}
